* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
}

#wrap {
    position: relative;
    height: 1200px;
    width: 1000px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #aaa;
    border: 5px solid black;
    border-radius: 20px;
}

.logo {
    position: relative;
    
}

